<% content_for :head do %>
  <%= stylesheet_link_tag params[:controller] %>
<% end %>
<%= render partial: 'layouts/shared/header' %>

<!--page_container-->
<div class="page_container">

  <%= yield %>

</div>
<!--//page_container-->

<%= render partial: 'layouts/shared/footer' %>

<% content_for :javascript do %>
  <%= javascript_include_tag params[:controller] %>
<% end %>

<% parent_layout 'base' %>
