<!DOCTYPE html>
<html>
<head>
  <title>
    <%= yield(:title) || ('site_name') | ('tag_line') %>
  </title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= yield(:head) %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="alert alert-info alert-dismissible"><%= flash.notice %></div>

  <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield(:javascript) %>
</body>
</html>
